#NETATMO {
  color: #EEE;
  font-size: 15px;
  min-width: 265px;
}

#NETATMO_NAME {
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
}

#NETATMO_TEMP {
  border-radius: 15px;
  font-size: 70px;
  background: #000;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  margin-bottom: 5px;
}

#NETATMO_TEMP.heating {
  background: linear-gradient(to bottom,#e67e22 0,#ffae00 120%);
  color: #000;
}

#NETATMO_VALUES {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#NETATMO_FIRMWARE {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  align-content: end;
  align-items: center;
}

#NETATMO_RADIO {
  display: flex;
  flex-wrap: wrap;
  /*width: 50px;*/
  height: 35px;
  align-content: end;
  align-items: center;
  justify-content: space-between;
}

#NETATMO_TEMPSET {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  align-content: start;
  align-items: center;
}

#NETATMO_BATTERY {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  /*width: 50px;*/
  height: 35px;
  align-content: start;
  align-items: center;
  justify-content: space-between;
}

#NETATMO_RADIO_VALUE,
#NETATMO_FIRMWARE_VALUE,
#NETATMO_BATTERY_VALUE,
#NETATMO_TEMPSET_VALUE {
  margin-left: 5px;
}

#NETATMO_TEMP_TENDENCY {
  font-size: 30px;
  width: 20px;
  height: 30px;
  display: flex;
  place-content: flex-start;
}

#NETATMO_RADIO_ICON,
#NETATMO_FIRMWARE_ICON,
#NETATMO_BATTERY_ICON,
#NETATMO_TEMPSET_ICON {
  font-size: small;
}

#NETATMO_NAME.hidden,
#NETATMO_TEMPSET_ICON.hidden,
#NETATMO_TEMPSET_VALUE.hidden,
#NETATMO_BATTERY_ICON.hidden,
#NETATMO_BATTERY_VALUE.hidden,
#NETATMO_FIRMWARE_ICON.hidden,
#NETATMO_FIRMWARE_VALUE.hidden,
#NETATMO_RADIO_ICON.hidden,
#NETATMO_RADIO_VALUE.hidden,
#NETATMO_TEMP_TENDENCY.hidden {
  display: none;
}

#NETATMO_ZONE1 {
  font-size: small;
  margin-left: 5px;
  flex: 1 1 0;
}

#NETATMO_ZONE2 {
  font-size: small;
  margin-right: 5px;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  place-items: self-end;
}

#NETATMO_TEMP_VALUE {
  flex: 2 1 0;
  text-align: center;
}
